body{
    font-family: $body-font;
    font: {
        size: map-get($font-sizes , "md" );
    };
    color: color("dark");
    background-color: color();
}
h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}
h2{
    font-size: map-get($heading-font-sizes , 3 );
}
h3{
    font-size: map-get($heading-font-sizes , 4 );;
}
img{
    width: 100%;
}
main div{
    padding: space(5);
}
:root{
    // target the color of the swipper btn and nav dots
    --swiper-theme-color: #f8b600;
}
.sectionContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        text-align: center;
    }
    @include media-breakpoint-up("lg"){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: map-get($spaces , 3);
        grid-template-rows: 40px 40px 300px;
        h2{
            grid-column: 1 / 5;
            margin: 0 auto;
        }
        p{
            grid-row: 2 / 3;
            grid-column: 1 / 5;
        }
        .item-1, .item-2, .item-3{
            grid-row: 3 / 4;
        }
    }
    @include media-breakpoint-up("xxl"){
        grid-template-rows: 40px 40px 400px;
    }
}
.pic{
    width: 100%;
    img{
        @include mytrans(.3s);
    }
}
.card{
    position: relative;
    @include padding('top');
    &:hover{
        .prices-yellow{
            opacity: 1;
        }
    }
}
.cardTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    h3, span{
        color: color('white');
    }
    @include media-breakpoint-up("md"){
        h3{
            font-size: map-get($heading-font-sizes , 2 );;
        } 
        span{
            font-size: map-get($font-sizes , "lg" );
        } 
    }
    @include media-breakpoint-up("lg"){
        h3{
            font-size: map-get($heading-font-sizes , 4 );;
        } 
        span{
            font-size: map-get($font-sizes , "md" );
        } 
    }
    @include media-breakpoint-up("xxl"){
        h3{
            font-size: map-get($heading-font-sizes , 2 );;
        } 
        span{
            font-size: map-get($font-sizes , "lg" );
        } 
    }
}



