body{
    font-family: $body-font;
    font: {
        size: map-get($font-sizes , "md" );
    };
    color: color("dark");
    background-color: color();
}
h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}
h2{
    font-size: map-get($heading-font-sizes , 3 );
}
h3{
    font-size: map-get($heading-font-sizes , 4 );;
}
img{
    width: 100%;
}
main div{
    padding: space(5);
}
.sectionContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        text-align: center;
    }
}
.pic{
    width: 100%;
}
.card{
    position: relative;
    @include padding('top');
}
.cardTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    h3, span{
        color: color('white');
    }
}



