// bg section affordable prices
.bgWorld{
    background: url('../img/price-bg.png')center/cover;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(65,62,62,.3);
        z-index: -10000;
    }
}
// bg section testimonial
.bgTestimonial{
    background-color: color('greyTestimonial');
}
.packages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        text-align: center;
    }
}
.prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include padding('all', 1em);
    a{
        color: color('black');
        @extend .btn;
        @extend .btn-grey;
    }
}
.prices-yellow{
    justify-content: center;
    opacity: 1;
    font-size:  map-get($font-sizes , "xs" );
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-15%);
    @include mytrans(.5s);
    a{
        color: color('black');
        @extend .btn;
        @extend .btn-yellow;
    }
    @include media-breakpoint-up("md"){
        a{
            font-size:  map-get($font-sizes , "xl" );
        }
    }
    @include media-breakpoint-up("lg"){
        opacity: 0;
        a{
            font-size:  map-get($font-sizes , "sm" );
        }
    }
    @include media-breakpoint-up("xl"){
        opacity: 0;
        a{
            font-size:  map-get($font-sizes , "lg" );
        }
    }
    @include media-breakpoint-up("xxl"){
        opacity: 0;
        a{
            font-size:  map-get($font-sizes , "xl" );
        }
    }
}
#affordable-prices.sectionContent{
    @include media-breakpoint-up("lg"){
        grid-template-rows: 40px 40px 600px;
    }
    
}
// section other issues we ca help you with 
#helpYou.sectionContent{
    .pic-effect{
        @include mytrans(.3s);
        width: 100%;
        a{
            display: block;
            margin-top: 1em;
            text-align: center;
        }
        padding: 0;       
        .pic{
            overflow: hidden;
            padding: 0;
        }
        &:hover{
            img{
                transform: scale(1.2) rotate(5deg);
            }
            a{
                color: map-get($colors, 'yellow' );
            }
        }
    }
    @include media-breakpoint-up("md"){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        grid-template-rows: 40px 40px 368px 368px;
        h2{
            grid-column: 1 / 3;
            margin: 0 auto;
        }
        p{
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
    }
    @include media-breakpoint-up("lg"){
        grid-template-rows: 40px 40px 600px 368px;
    }
    @include media-breakpoint-up("xl"){
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 40px 40px 400px;
        h2{
            grid-column: 1 / 5;
        }
        p{
            grid-column: 1 / 5;
            grid-row: 2 / 3;
        }
        .pic-effect{
            grid-row: 3 / 4;
        }
    }
}
// section testimonial
#testimonial{
    div{
        padding: 0;
    }
    h2, p{
        text-align: center;
    }
    .swiper{
        height: 300px;
        background-color: #fff;
        .swiper-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                width: 70%;
            }
            @include media-breakpoint-up("xl"){
                flex-direction: row;
                justify-content: center;
                gap: 1em;
            }
            .swiper-pic{
                width: 20%;
                @include media-breakpoint-up("lg"){
                    width: 10%;
                }
                @include media-breakpoint-up("xl"){
                    width: 5%
                }
                img{
                    @include border-radius('circle');
                }
            }
        }
        .stars{
            i{
                color: color('yellow');
            }
        }
    }
}

.wrap{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
.package-bg{
    background-color: color('white');
    margin-top: 1em;
}