// bg section affordable prices
.bgWorld{
    background: url('../img/price-bg.png')center/cover;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(65,62,62,.3);
        z-index: -10000;
    }
}
.packages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        text-align: center;
    }
}
.prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include padding('all', 1em);
    a{
        color: color('black');
        @extend .btn;
        @extend .btn-grey;
    }
}
.prices-yellow{
    justify-content: center;
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-15%);
    a{
        color: color('black');
        @extend .btn;
        @extend .btn-yellow;
    }
    @include media-breakpoint-up("md"){
        opacity: 1;
        a{
            font-size:  map-get($font-sizes , "xl" );
        }
    }
    @include media-breakpoint-up("lg"){
        opacity: 0;
        a{
            font-size:  map-get($font-sizes , "sm" );
        }
    }
    @include media-breakpoint-up("xl"){
        opacity: 0;
        a{
            font-size:  map-get($font-sizes , "lg" );
        }
    }
    @include media-breakpoint-up("xxl"){
        opacity: 0;
        a{
            font-size:  map-get($font-sizes , "xl" );
        }
    }
}
.wrap{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
.package-bg{
    background-color: color('white');
    margin-top: 1em;
}